<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Properties>
		<Property name="log-path">logs</Property>
	</Properties>

	<Appenders>
		<File name="LogFile" fileName="${log-path}/execution.log">
			<PatternLayout pattern="%d %-5p - %m%n" />
		</File>
		<Async name="Async">
			<AppenderRef ref="LogFile" />
		</Async>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %-5p - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name="org.apache.log4j.xml" level="info" />
		<Root level="debug">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="Async" />
		</Root>
	</Loggers>
</Configuration>